<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>모든 소설</title>
        <link rel="stylesheet" href="/allnovel.css">
        <script src="/js/user-menu.js"></script>
    </head>
    <body>
        <div>
            <%- include('parts/header') %>

            <div class="section-bar">
                <span class="section-title">모든 소설</span>
            </div>

            <div class="novel-list">
                <% for (const novel of novels) { %>
                    <a href="/novel/<%= novel.novelId %>">
                        <div class="novel-card">
                            <img 
                                src="<%= novel.coverImageUrl %>" 
                                alt="<%= novel.title %> 커버 이미지"
                                class="novel-image-cover"
                            >
                            <div class="novel-title"><%= novel.title %></div>
                            <div class="novel-author"><%= novel.nickname %></div>
                        </div>
                    </a>
                <% } %>
            </div>
            
            
        </div>
    </body>
</html>